{
    "overrides": [
      {
        "files": ["*.js"], 
        "options": {
          "arrowParens": "avoid", 
          "singleQuote": true,   
          "trailingComma": "es5"
        }
      }
    ]
  }